<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>[最右]</key>
		<string>d_zuiyou</string>
	</dict>
	<dict>
		<key>[呵呵]</key>
		<string>d_hehe</string>
	</dict>
	<dict>
		<key>[嘻嘻]</key>
		<string>d_xixi</string>
	</dict>
	<dict>
		<key>[哈哈]</key>
		<string>d_haha</string>
	</dict>
	<dict>
		<key>[love]</key>
		<string>d_aini</string>
	</dict>
	<dict>
		<key>[挖鼻]</key>
		<string>d_wabishi</string>
	</dict>
	<dict>
		<key>[吃惊]</key>
		<string>d_chijing</string>
	</dict>
	<dict>
		<key>[晕倒]</key>
		<string>d_yun</string>
	</dict>
	<dict>
		<key>[泪]</key>
		<string>d_lei</string>
	</dict>
	<dict>
		<key>[馋嘴]</key>
		<string>d_chanzui</string>
	</dict>
	<dict>
		<key>[抓狂~]</key>
		<string>d_zhuakuang</string>
	</dict>
	<dict>
		<key>[哼]</key>
		<string>d_heng</string>
	</dict>
	<dict>
		<key>[可爱~]</key>
		<string>d_keai</string>
	</dict>
	<dict>
		<key>[怒]</key>
		<string>d_nu</string>
	</dict>
	<dict>
		<key>[汗]</key>
		<string>d_han</string>
	</dict>
	<dict>
		<key>[shy]</key>
		<string>d_haixiu</string>
	</dict>
	<dict>
		<key>[睡觉]</key>
		<string>d_shuijiao</string>
	</dict>
	<dict>
		<key>[钱]</key>
		<string>d_qian</string>
	</dict>
	<dict>
		<key>[偷笑~]</key>
		<string>d_touxiao</string>
	</dict>
	<dict>
		<key>[笑cry]</key>
		<string>d_xiaoku</string>
	</dict>
	<dict>
		<key>[doge]</key>
		<string>d_doge</string>
	</dict>
	<dict>
		<key>[喵喵]</key>
		<string>d_miao</string>
	</dict>
	<dict>
		<key>[cool]</key>
		<string>d_ku</string>
	</dict>
	<dict>
		<key>[shuai]</key>
		<string>d_shuai</string>
	</dict>
	<dict>
		<key>[闭嘴~]</key>
		<string>d_bizui</string>
	</dict>
	<dict>
		<key>[鄙shi]</key>
		<string>d_bishi</string>
	</dict>
	<dict>
		<key>[花心]</key>
		<string>d_huaxin</string>
	</dict>
	<dict>
		<key>[鼓掌~]</key>
		<string>d_guzhang</string>
	</dict>
	<dict>
		<key>[悲伤]</key>
		<string>d_beishang</string>
	</dict>
	<dict>
		<key>[思考]</key>
		<string>d_sikao</string>
	</dict>
	<dict>
		<key>[生病]</key>
		<string>d_shengbing</string>
	</dict>
	<dict>
		<key>[亲~]</key>
		<string>d_qinqin</string>
	</dict>
	<dict>
		<key>[怒骂]</key>
		<string>d_numa</string>
	</dict>
	<dict>
		<key>[太开心]</key>
		<string>d_taikaixin</string>
	</dict>
	<dict>
		<key>[白眼~]</key>
		<string>d_landelini</string>
	</dict>
	<dict>
		<key>[右哼~]</key>
		<string>d_youhengheng</string>
	</dict>
	<dict>
		<key>[左哼~]</key>
		<string>d_zuohengheng</string>
	</dict>
	<dict>
		<key>[嘘~]</key>
		<string>d_xu</string>
	</dict>
	<dict>
		<key>[委屈~]</key>
		<string>d_weiqu</string>
	</dict>
	<dict>
		<key>[tu]</key>
		<string>d_tu</string>
	</dict>
	<dict>
		<key>[可怜~]</key>
		<string>d_kelian</string>
	</dict>
	<dict>
		<key>[打哈欠]</key>
		<string>d_dahaqi</string>
	</dict>
	<dict>
		<key>[挤眼]</key>
		<string>d_jiyan</string>
	</dict>
	<dict>
		<key>[失望]</key>
		<string>d_shiwang</string>
	</dict>
	<dict>
		<key>[顶]</key>
		<string>d_ding</string>
	</dict>
	<dict>
		<key>[疑问~]</key>
		<string>d_yiwen</string>
	</dict>
	<dict>
		<key>[kun]</key>
		<string>d_kun</string>
	</dict>
	<dict>
		<key>[感冒]</key>
		<string>d_ganmao</string>
	</dict>
	<dict>
		<key>[拜拜]</key>
		<string>d_baibai</string>
	</dict>
	<dict>
		<key>[黑线]</key>
		<string>d_heixian</string>
	</dict>
	<dict>
		<key>[阴险~]</key>
		<string>d_yinxian</string>
	</dict>
	<dict>
		<key>[打脸]</key>
		<string>d_dalian</string>
	</dict>
	<dict>
		<key>[傻眼]</key>
		<string>d_shayan</string>
	</dict>
	<dict>
		<key>[互粉]</key>
		<string>f_hufen</string>
	</dict>
	<dict>
		<key>[心]</key>
		<string>l_xin</string>
	</dict>
	<dict>
		<key>[伤心]</key>
		<string>l_shangxin</string>
	</dict>
	<dict>
		<key>[pig]</key>
		<string>d_zhutou</string>
	</dict>
	<dict>
		<key>[pander]</key>
		<string>d_xiongmao</string>
	</dict>
	<dict>
		<key>[兔子]</key>
		<string>d_tuzi</string>
	</dict>
	<dict>
		<key>[握手~]</key>
		<string>h_woshou</string>
	</dict>
	<dict>
		<key>[作揖]</key>
		<string>h_zuoyi</string>
	</dict>
	<dict>
		<key>[赞]</key>
		<string>h_zan</string>
	</dict>
	<dict>
		<key>[耶]</key>
		<string>h_ye</string>
	</dict>
	<dict>
		<key>[good]</key>
		<string>h_good</string>
	</dict>
	<dict>
		<key>[ruo]</key>
		<string>h_ruo</string>
	</dict>
	<dict>
		<key>[NO]</key>
		<string>h_buyao</string>
	</dict>
	<dict>
		<key>[OK]</key>
		<string>h_ok</string>
	</dict>
	<dict>
		<key>[haha]</key>
		<string>h_haha</string>
	</dict>
	<dict>
		<key>[来]</key>
		<string>h_lai</string>
	</dict>
	<dict>
		<key>[fist]</key>
		<string>h_quantou</string>
	</dict>
	<dict>
		<key>[威武]</key>
		<string>f_v5</string>
	</dict>
	<dict>
		<key>[鲜花]</key>
		<string>w_xianhua</string>
	</dict>
	<dict>
		<key>[钟]</key>
		<string>o_zhong</string>
	</dict>
	<dict>
		<key>[浮云]</key>
		<string>w_fuyun</string>
	</dict>
	<dict>
		<key>[plane]</key>
		<string>o_feiji</string>
	</dict>
	<dict>
		<key>[moon]</key>
		<string>w_yueliang</string>
	</dict>
	<dict>
		<key>[sun]</key>
		<string>w_taiyang</string>
	</dict>
	<dict>
		<key>[wind]</key>
		<string>w_weifeng</string>
	</dict>
	<dict>
		<key>[rain]</key>
		<string>w_xiayu</string>
	</dict>
	<dict>
		<key>[给力]</key>
		<string>f_geili</string>
	</dict>
	<dict>
		<key>[神马]</key>
		<string>f_shenma</string>
	</dict>
	<dict>
		<key>[围观]</key>
		<string>o_weiguan</string>
	</dict>
	<dict>
		<key>[话筒]</key>
		<string>o_huatong</string>
	</dict>
	<dict>
		<key>[奥特曼]</key>
		<string>d_aoteman</string>
	</dict>
	<dict>
		<key>[草泥马]</key>
		<string>d_shenshou</string>
	</dict>
	<dict>
		<key>[萌]</key>
		<string>f_meng</string>
	</dict>
	<dict>
		<key>[囧]</key>
		<string>f_jiong</string>
	</dict>
	<dict>
		<key>[织]</key>
		<string>f_zhi</string>
	</dict>
	<dict>
		<key>[gift]</key>
		<string>o_liwu</string>
	</dict>
	<dict>
		<key>[喜]</key>
		<string>f_xi</string>
	</dict>
	<dict>
		<key>[围脖]</key>
		<string>o_weibo</string>
	</dict>
	<dict>
		<key>[音乐]</key>
		<string>o_yinyue</string>
	</dict>
	<dict>
		<key>[绿丝带]</key>
		<string>o_lvsidai</string>
	</dict>
	<dict>
		<key>[cake]</key>
		<string>o_dangao</string>
	</dict>
	<dict>
		<key>[蜡烛]</key>
		<string>o_lazhu</string>
	</dict>
	<dict>
		<key>[干杯]</key>
		<string>o_ganbei</string>
	</dict>
	<dict>
		<key>[男孩儿]</key>
		<string>d_nanhaier</string>
	</dict>
	<dict>
		<key>[女孩儿]</key>
		<string>d_nvhaier</string>
	</dict>
	<dict>
		<key>[肥皂]</key>
		<string>d_feizao</string>
	</dict>
	<dict>
		<key>[照相机]</key>
		<string>o_zhaoxiangji</string>
	</dict>
	<dict>
		<key>[浪]</key>
		<string>d_lang</string>
	</dict>
	<dict>
		<key>[沙尘暴]</key>
		<string>w_shachenbao</string>
	</dict>
	</array>
</plist>
